<div class="container-fluid mainmenu bg-black bg-opacity-75 ">
    <div class="row">
        <div class="col-md-10 mx-auto col-12 ">
            <nav class="navbar navbar-expand-lg  bg-transparent text-white ">
                <div class="container-fluid text-white ">
                    <a class=" text-primary " href="/">
                        <img style="width: 40px; " class="h-25 rounded-2 "
                            src="images/favicon.jpg" alt="navbar bramd">
                    </a>
                    <button class="navbar-toggler text-white " type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon text-white "></span>
                    </button>
                    <div class="collapse navbar-collapse"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-white ">
                            <li class="nav-item">
                                <a class="nav-link text-white "
                                    href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white "
                                    href="/about">About</a>
                            </li>
                            <li class="nav-item me-4 ">
                                <a class="nav-link text-white "
                                    href="/weather">Weather</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>